// Root
$main-bg-color: #eee;
$main-text-color: #252422;
$premium-text-color: #fffcf2;

// Fonts
$default: 'Roboto', sans-serif;
$monospace: 'Roboto Mono', monospace;

// Squares
$bg-empty: #ccc5b9;
$bg-moving: #e5e2dc;
$bg-playable: #f0ea9a;
$bg-letter: #fffcf2;
$border-color: #eb5e28;
$default-border: 1px solid $main-bg-color;
$moving-border: 1px solid $bg-moving;
$score-border: 2px solid $border-color;

$error-color: #ff0033;

$tw: #fb8500;
$tl: #ffb703;
$dw: #023047;
$dl: #219ebc;
