// Root
$default-bg: #eee;
$default-font-color: #252422;
$premium-font-color: #fffcf2;

// Fonts
$default-font: 'Roboto', sans-serif;
$monospace-font: 'Roboto Mono', monospace;

// Squares
$empty-bg: #ccc5b9;
$moving-bg: #e5e2dc;
$playable-bg: #f0ea9a;
$letter-bg: #fffcf2;
$loading-bg: #99948b;

$border-color: #eb5e28;
$error-color: #ff0033;
$success-color: #4bb543;

$default-border: 1px solid $default-bg;
$moving-border: 1px solid $moving-bg;
$score-border: 2px solid $border-color;

$tw: #fb8500;
$tl: #ffb703;
$dw: #023047;
$dl: #219ebc;
